@section styles{
    <link href="~/css/profile.css" rel="stylesheet">
}
@section head{
    <title>@Model.CurrentUser.Username's profile</title>
}
@section scripts{

}

@model movie_tracker_website.ViewModels.PagesViews.ProfileViewModel
@inject Microsoft.Extensions.Configuration.IConfiguration Config

<div class="main-blocks container">
    <div class="user-info">
        <div class="img-block">
            <img src="@Config["Constants:UploadImagesPath"]@Model.CurrentUser.ImagePath" />
        </div>
        <div class="text-info-block">
            <h3 class="username">@Model.CurrentUser.Username</h3>
            @*<h4 class="country"></h4>*@
            <div class="btn-component">
                <button class="btn-settings">
                    <a href="" class="link">
                        <h3>Configure</h3>
                    </a>
                </button>
            </div>
        </div>
    </div>
    <div class="tags">
        @if (Model.Tags != null && Model.Tags.Any())
        {
            <h6>Favourite themes</h6>
            <hr />
            <div class="tags-btns">
                @foreach (var tag in Model.Tags)
                {
                    <div class="tag-name">
                        <a><h4>@tag</h4></a>
                    </div>
                }
            </div>
        }
    </div>
    <div class="fav-movies">
        @if(Model.FavouriteMovies!=null && Model.FavouriteMovies.Any())
        {
        <div class="movie-list-full container">
            <div class="movie-list">
                <div class="topbar-text">
                    <h6>Favourite movies</h6>
                    <a href=""><h6>More...</h6></a>
                </div>
                <hr />
                <div class="movie-list-containers">
                    <div class="movie-list-component">
                        @foreach (var curMovie in Model.FavouriteMovies)
                        {
                            <div class="poster">
                                <a asp-controller="MoviePage" asp-action="Index" asp-route-id="@curMovie.Id">
                                    <img title="@curMovie.Title (@curMovie.ReleaseYear)"
                                            src="@Config["Constants:PosterBaseUrl"]@curMovie.PosterPath">
                                </a>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
        }
    </div>
    <div class="statistic">
        @if (!Model.Statistic.StatisticDict.Values.ToList().All(s => s == 0))
        {
        <div class="topbar-text">
                <h6>Statistic</h6>
        </div>
        <hr />
        <div class="statistic-full">
            @foreach(var stat in Model.Statistic.StatisticDict)
            {
                <div class="statistic-block">
                    <h2>@stat.Value</h2>
                    <h4>@stat.Key</h4>
                </div>
            }
        </div>
        }
    </div>
    <div class="recent-movies">
        @if(Model.RecentMovies!=null && Model.RecentMovies.Any())
        {
        <div class="movie-list-full container">
            <div class="movie-list">
                <div class="topbar-text">
                    <h6>Latest watched</h6>
                </div>
                <hr />
                <div class="movie-list-containers">
                    <div class="movie-list-component">
                        @foreach (var movie in Model.RecentMovies)
                        {
                            <div class="poster">
                                <a asp-controller="MoviePage" asp-action="Index" asp-route-id="@movie.Id">
                                    <img title="@movie.Title (@movie.ReleaseYear)"
                                            src="@Config["Constants:PosterBaseUrl"]@movie.PosterPath">
                                </a>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
        }
    </div>
    <div class="followings">
        @if(Model.Followings!=null && Model.Followings.Any())
        {
            <div class="topbar-text">
                <h6>Followings</h6>
            </div>
            <hr />
            <div class="followings-full">
                @foreach (var following in Model.Followings)
                {
                    <div class="img-block">
                        <a asp-action="GetProfile" asp-route-username="@following.Username">
                            <img src="@Config["Constants:UploadImagesPath"]@following.ImagePath"
                                 title="@following.Username" />
                        </a>
                    </div>
                }
            </div>
        }
    </div>
</div>