@section styles{
        <link href="~/css/community.css" rel="stylesheet">
}
@section head{
        <title>Community</title>
}
@section scripts{
    <script>
        //disable next btn if last page
        if (@Model.CurrentPage == @Model.TotalPages)
            document.querySelector(".btn-next").classList.add("disabled");
        //disable prev btn if first page
        if (@Model.CurrentPage == 1)
            document.querySelector(".btn-prev").classList.add("disabled");
    </script>
}

@model movie_tracker_website.ViewModels.PagesViews.CommunityViewModel
@inject Microsoft.Extensions.Configuration.IConfiguration Config

<div class="users-full container">
    <div class="top-bar">
        <h6>Popular community members</h6>
        <hr />
    </div>
    <div class="users-container">
        @foreach (var user in Model.Users)
        {
            <div class="user-component">
                <div class="main-block">
                    <div class="img-block">
                        <img src="@Config["Constants:UploadImagesPath"]@user.ImagePath" />
                    </div>
                    <div class="username">
                        <a asp-controller="Profile" asp-action="GetProfile" asp-route-username="@user.Username">
                            <h3>@user.Username</h3>
                        </a>
                    </div>
                </div>
                <div class="statistic">
                        <div class="stat-block">
                            <i class="fa-solid fa-eye"></i>
                            <div class="text-block">
                                <h6>@user.Statistic.WatchedAmount</h6>
                            </div>
                        </div>
                        <div class="stat-block">
                            <i class="fa-solid fa-heart"></i>
                            <div class="text-block">
                                <h6>@user.Statistic.FavouriteAmount</h6>
                            </div>
                        </div>
                        <div class="stat-block">
                            <i class="fa-solid fa-bookmark"></i>
                            <div class="text-block">
                                <h6>@user.Statistic.ToWatchAmount</h6>
                            </div>
                        </div>
                </div>
                @if (user.IfUserIsFollowed)
                {
                    <div class="btn-ctrl btn-added">
                        <form asp-action="Unfollow" asp-route-username="@user.Username" method="post">
                            <input type="hidden" name="page" value="@Model.CurrentPage">
                            <button type="submit">
                                <h1>✓</h1>
                            </button>
                        </form>
                    </div>
                }
                else if (user.Id==Model.CurrentUser.Id)
                {
                    
                }
                else
                {
                    <div class="btn-ctrl btn-add">
                        <form asp-action="Follow" asp-route-username="@user.Username" method="post">
                            <input type="hidden" name="page" value="@Model.CurrentPage">
                            <button type="submit">
                                <h1>+</h1>
                            </button>
                        </form>
                    </div>
                }

            </div>

            <hr class="movies-hr" />
        }
                
    </div>
    <div class="footer-bar">
        <button class="btn-managing btn-prev">
            <a asp-action="GetCommunityMembers" asp-route-pageIndex="@(Model.CurrentPage-1)" disabled="@(Model.CurrentPage==1)">
                <h5>Previous</h5>
            </a>
        </button>
        <button class="btn-managing btn-next">
            <a asp-action="GetCommunityMembers" asp-route-pageIndex="@(Model.CurrentPage+1)" class="a-btn-next">
                <h5>Next</h5>
            </a>
        </button>
    </div>
</div>