@section styles{
    <!-- styles -->
    <link href="~/css/movie-page.css" rel="stylesheet">
    <link href="~/css/movie-page-slider.css" rel="stylesheet">
    <!--    slick-slider-->
    <link href="https://cdn.jsdelivr.net/jquery.slick/1.6.0/slick.css" rel="stylesheet" type="text/css">
    <style>
        .turnColorGreen {
            color: green!important;
        }

        .turnColorWhite {
            color: white !important;
        }
    </style>
}
@section scripts{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/jquery.slick/1.6.0/slick.min.js"></script>
    <script src="../js/single-img-slider.js"></script>

    <script>
        let watchedSymbol = document.querySelector(".watchedSymbol");
        console.log(watchedSymbol);
        let favouriteSymbol = document.getElementById("favouriteSymbol");
        let toWatchSymbol = document.getElementById("toWatchSymbol");
        if (watchedSymbol !== null) {
            if (@Model.Movie.IfWatched.ToString().ToLower() == true) {
                watchedSymbol.classList.toggle("turnColorGreen");
            }
            else {
                watchedSymbol.classList.toggle("turnColorWhite");
            }
        }
    </script>
}
@section backgroundImage{
    <div class="background-photo"><img src="@Config["Constants:BackgroundBaseUrl"]@Model.Movie.MainBackdropPath" /></div>
}

@model movie_tracker_website.ViewModels.PagesViews.MoviePageViewModel
@inject Microsoft.Extensions.Configuration.IConfiguration Config

<div class="main-blocks container">
    <div class="poster">
        <div class="poster-block">
            <img src="@Config["Constants:PosterBaseUrl"]@Model.Movie.PosterPath">
        </div>
    </div>
    <div class="title-text">
        <h1>@Model.Movie.Title</h1>
        <h6 class="title-info">@Model.Movie.ReleaseYear | @Model.Movie.Duration m</h6>
        <h6 class="slogan">@Model.Movie.Tagline</h6>
    </div>
    <div class="description">
        <h6>Опис</h6>
        <hr />
        <p>@Model.Movie.Overview</p>
    </div>
    <div class="main-roles">
        <h6>У головних ролях</h6>
        <hr />
        <div class="actors-btns">
            @foreach(var actor in Model.Movie.Actors)
            {
                <div class="actor-name">
                    <a><h4>@actor</h4></a>
                </div>
            }
        </div>
        <h6 class="more-info">
            Більше інформації доступно на
            <a href="https://www.imdb.com/">IMDB</a> та
            <a href="https://www.themoviedb.org/movie/475557">TMDB</a>
        </h6>
    </div>
    <div class="rating">
        <h6>Рейтинг</h6>
        <hr />
        <span class="rating-num">
            <h1>@Model.Movie.Rating</h1>
            <h6>середня оцінка</h6>
        </span>
        <div class="icons-block">
            <div class="icons">
                <form id="watchedMovie" method="post" asp-controller="MoviePage"
                      asp-action="WatchedEntry" asp-route-id="@Model.Movie.Id">
                    <input type="number" name="ApiId" value="@Model.Movie.Id" hidden/>
                    <button type="submit">
                        <i id="watchedSymbol" class="fa-solid fa-eye watchedSymbol"></i>
                    </button>
                </form>
                <form id="favouriteMovie" method="post" asp-controller="MoviePage"
                      asp-action="FavouriteEntry" asp-route-id="@Model.Movie.Id">
                    <input type="number" name="ApiId" value="@Model.Movie.Id" hidden />
                    <button type="submit">
                        <i id="favouriteSymbol" class="fa-solid fa-heart favouriteSymbol"></i>
                    </button>
                </form>
                <form id="toWatchMovie" method="post" asp-controller="MoviePage"
                      asp-action="ToWatchEntry" asp-route-id="@Model.Movie.Id">
                    <input type="number" name="ApiId" value="@Model.Movie.Id" hidden />
                    <button type="submit">
                        <i id="toWatchSymbol" class="fa-solid fa-bookmark toWatchSymbol"></i>
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>

@if (Model.Movie.Trailer != null)
{
    <div class="trailer-full container">
        <div class="trailer">
            <h6>Трейлер</h6>
            <hr />
            <div class="video-container">
                <iframe src="@Config["Constants:VideoBaseUrl"]@Model.Movie.Trailer" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
                allowfullscreen></iframe>
            </div>
        </div>
    </div>
}

@if (Model.Movie.BackdropsPath!=null && Model.Movie.BackdropsPath.Count > 1)
{
    <div class="slider-block container">
        <h6>Світлини з фільму</h6>
        <hr />
    </div>
    <div class="slider slider-nav">
        @foreach(var backdrop in Model.Movie.BackdropsPath)
        {
            <div class="slide">
                <div class="slider-image-block">
                    <img src="@Config["Constants:BackdropBaseUrl"]@backdrop">
                </div>
            </div>
        }
    </div>
}
<div class="similar-full container">
    <div class="similar">
        <h6>Схожі фільми</h6>
        <hr />
        <div class="similar-containers">
            <div class="similar-component">
                @for(int i=0;i<Model.SimilarMovies.Count;i++)
                {
                    var curMovie = Model.SimilarMovies[i];
                    //need to set to the 2 last movies class "poster-last"
                    var className = i < Model.SimilarMovies.Count - 2 ? "poster" : "poster poster-last";

                    <div class="@className">
                        <a asp-controller="MoviePage" asp-action="Index" asp-route-id="@curMovie.Id">
                        <img title="@curMovie.Title (@curMovie.ReleaseYear)"
                            src="@Config["Constants:PosterBaseUrl"]@curMovie.PosterPath">
                        </a>
                    </div>
                }
            </div>
        </div>
    </div>
</div>