@section styles{
    <!-- styles -->
    <link href="~/css/movie-page.css" rel="stylesheet">
    <link href="~/css/movie-page-slider.css" rel="stylesheet">
    <!--    slick-slider-->
    <link href="https://cdn.jsdelivr.net/jquery.slick/1.6.0/slick.css" rel="stylesheet" type="text/css">
    <style>
        .footer-full {
            margin-top: 100px !important;
        }   
    </style>
}

@section head{
    <title>@Model.Movie.Title</title>
}

@section scripts{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/jquery.slick/1.6.0/slick.min.js"></script>
    <script src="~/js/single-img-slider.js"></script>
    <script>
        let watchedSymbol = document.querySelector(".watchedSymbol");
        let favouriteSymbol = document.querySelector(".favouriteSymbol");
        let toWatchSymbol = document.querySelector(".toWatchSymbol");

        if (watchedSymbol !== null) {
            if (@Model.Movie.IfWatched.ToString().ToLower()) {
                watchedSymbol.classList.toggle("turnColorGreen");
            }
            else {
                watchedSymbol.classList.toggle("turnColorWhite");
            }
        }

        if (favouriteSymbol !== null) {
            if (@Model.Movie.IfFavourite.ToString().ToLower()) {
                favouriteSymbol.classList.toggle("turnColorGreen");
            } else {
                favouriteSymbol.classList.toggle("turnColorWhite");
            }
        }

        if (toWatchSymbol !== null) {
            if (@Model.Movie.IfToWatch.ToString().ToLower()) {
                toWatchSymbol.classList.toggle("turnColorGreen");
            } else {
                toWatchSymbol.classList.toggle("turnColorWhite");
            }
        }
    </script>
}
@section backgroundImage{
    <div class="background-photo"><img src="@Config["Constants:BackgroundBaseUrl"]@Model.Movie.MainBackdropPath" /></div>
}

@model movie_tracker_website.ViewModels.PagesViews.MoviePageViewModel
@inject Microsoft.Extensions.Configuration.IConfiguration Config

<div class="main-blocks container">
    <div class="poster">
        <div class="poster-block">
            <img src="@Config["Constants:PosterBaseUrl"]@Model.Movie.PosterPath">
        </div>
    </div>
    <div class="title-text">
        <h1>@Model.Movie.Title</h1>
        <h6 class="title-info">@Model.Movie.ReleaseYear | @Model.Movie.Duration m</h6>
        <h6 class="slogan">@Model.Movie.Tagline</h6>
    </div>
    <div class="description">
        <h6>Description</h6>
        <hr />
        <p>@Model.Movie.Overview</p>
    </div>
    <div class="main-roles">
        <h6>Main roles</h6>
        <hr />
        <div class="actors-btns">
            @foreach(var actor in Model.Movie.Actors)
            {
                <div class="actor-name">
                    <a><h4>@actor</h4></a>
                </div>
            }
        </div>
        <h6 class="more-info">
            More info on
            <a href="https://www.imdb.com/">IMDB</a> and
            <a href="https://www.themoviedb.org/movie/475557">TMDB</a>
        </h6>
    </div>
    <div class="rating">
        <h6>Rating</h6>
        <hr />
        <span class="rating-num">
            <h1>@Model.Movie.Rating</h1>
            <h6>average score</h6>
        </span>
        <div class="icons-block">
            <div class="icons">
                <form id="watchedMovie" method="post" asp-controller="MoviePage"
                      asp-action="WatchedEntry" asp-route-id="@Model.Movie.Id">
                    <input type="number" name="ApiId" value="@Model.Movie.Id" hidden/>
                    <button type="submit">
                        <i class="fa-solid fa-eye watchedSymbol"></i>
                    </button>
                </form>
                <form id="favouriteMovie" method="post" asp-controller="MoviePage"
                      asp-action="FavouriteEntry" asp-route-id="@Model.Movie.Id">
                    <input type="number" name="ApiId" value="@Model.Movie.Id" hidden />
                    <button type="submit">
                        <i class="fa-solid fa-heart favouriteSymbol"></i>
                    </button>
                </form>
                <form id="toWatchMovie" method="post" asp-controller="MoviePage"
                      asp-action="ToWatchEntry" asp-route-id="@Model.Movie.Id">
                    <input type="number" name="ApiId" value="@Model.Movie.Id" hidden />
                    <button type="submit">
                        <i class="fa-solid fa-bookmark toWatchSymbol"></i>
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>

@if (Model.Movie.Trailer != null)
{
    <div class="trailer-full container">
        <div class="trailer">
            <h6>Trailer</h6>
            <hr />
            <div class="video-container">
                <iframe src="@Config["Constants:VideoBaseUrl"]@Model.Movie.Trailer" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
                allowfullscreen></iframe>
            </div>
        </div>
    </div>
}

@if (Model.Movie.BackdropsPath!=null && Model.Movie.BackdropsPath.Count > 1)
{
    <div class="slider-block container">
        <h6>Movie's images</h6>
        <hr />
    </div>
    <div class="slider slider-nav">
        @foreach(var backdrop in Model.Movie.BackdropsPath)
        {
            <div class="slide">
                <div class="slider-image-block">
                    <img src="@Config["Constants:BackdropBaseUrl"]@backdrop">
                </div>
            </div>
        }
    </div>
}

@if(Model.SimilarMovies!=null && Model.SimilarMovies.Any())
{
    <div class="movie-list-full container">
        <div class="movie-list">
            <h6>Similar movies</h6>
            <hr />
            <div class="movie-list-containers">
                <div class="movie-list-component">
                    @foreach (var movie in Model.SimilarMovies)
                    {
                        <div class="poster">
                            <a asp-controller="MoviePage" asp-action="Index" asp-route-id="@movie.Id">
                                <img title="@movie.Title (@movie.ReleaseYear)"
                                     src="@Config["Constants:PosterBaseUrl"]@movie.PosterPath">
                            </a>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
}

@if (Model.ViewedMovies != null && Model.ViewedMovies.Any())
{
<div class="movie-list-full container">
    <div class="movie-list">
        <h6>Recently showed</h6>
        <hr />
        <div class="movie-list-containers">
            <div class="movie-list-component">
                @foreach (var movie in Model.ViewedMovies)
                {
                    <div class="poster">
                        <a asp-controller="MoviePage" asp-action="Index" asp-route-id="@movie.Id">
                            <img title="@movie.Title (@movie.ReleaseYear)"
                                 src="@Config["Constants:PosterBaseUrl"]@movie.PosterPath">
                            </a>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
}