@section styles{
    <link href="~/css/main.css" rel="stylesheet">
}
@section head{
    <title>Homepage</title>
}
@section backgroundImage{
    <div class="background-photo">
        <img src="~/img/landing.jpg" />
    </div>
}

@using Microsoft.AspNetCore.Identity
@using movie_tracker_website.Areas.Identity.Data

@model movie_tracker_website.ViewModels.PagesViews.HomeViewModel
@inject Microsoft.Extensions.Configuration.IConfiguration Config
@inject UserManager<AppUser> UserManager

<div class="title-container container">
    <div class="title-text-main">
        <h1>
            Вітаємо, <u>@Model.CurrentUser.Username</u>!
        </h1>
    </div>
</div>

@if (Model.WatchedMovies?.Count > 0)
{
    <div class="movie-list-full container">
        <div class="movie-list">
            <h6>Нещодавно переглянуті</h6>
            <hr />
            <div class="movie-list-containers">
                <div class="movie-list-component">
                    @foreach (var movie in Model.WatchedMovies)
                    {
                        <div class="poster">
                            <a asp-controller="MoviePage" asp-action="Index" asp-route-id="@movie.Id">
                                <img title="@movie.Title (@movie.ReleaseYear)"
                                     src="@Config["Constants:PosterBaseUrl"]@movie.PosterPath">
                            </a>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
}

@if (Model.ViewedMovies?.Count > 0)
{
    <div class="movie-list-full container">
        <div class="movie-list">
            <h6>Нещодавно показані</h6>
            <hr />
            <div class="movie-list-containers">
                <div class="movie-list-component">
                    @foreach (var movie in Model.ViewedMovies)
                    {
                        <div class="poster">
                            <a asp-controller="MoviePage" asp-action="Index" asp-route-id="@movie.Id">
                                <img title="@movie.Title (@movie.ReleaseYear)"
                                     src="@Config["Constants:PosterBaseUrl"]@movie.PosterPath">
                            </a>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
}